<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="LOG_DIR" value="${user.home}/BKPM-LOGS/payment" />
	
	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!-- <Pattern>
                %d{HH:mm:ss.SSS} [%t] %clr(%-5level){yellow} %logger{36} - %msg%n
            </Pattern> -->
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%t] %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

	<appender name="FILE-ROLLING"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}/payment.log</file>

		<!-- will create new file log each day or size > maxFileSize -->
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_DIR}/payment.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<!-- each archived file, size max 50MB -->
			<maxFileSize>50MB</maxFileSize>
			<!-- total size of all archive files, if total size > 100GB, it will delete 
				old archived file -->
			<totalSizeCap>100GB</totalSizeCap>
			<!-- 365 days to keep -->
			<maxHistory>365</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%d %p %c{1.} [%t] %m%n</pattern>
		</encoder>
	</appender>

	<logger name="id.co.asyst" level="debug" additivity="false">
		<appender-ref ref="Console" />
		<appender-ref ref="FILE-ROLLING" />
	</logger>

	<root level="error">
		<appender-ref ref="Console" />
		<appender-ref ref="FILE-ROLLING" />
	</root>

</configuration>